:host{
    display: block;
}

mat-card{
    margin: 5px;
    width: 268px;
    height: 130px;
    max-width: 800px;
    max-height: 800px;
}

mat-card-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

mat-card-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

img {
    border: 1px solid black;
}

.data{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

span{
    font-size: 14px;
}

.icon{
    font-size: 16px;
}
